name: Build Python EXE

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: windows-latest
    
    steps:
      - name: Check-out repository
        uses: actions/checkout@v3
  
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
           python-version: '3.10'
           cache: 'pip'
           cache-dependency-path: |
              **/requirements*.txt
  
      - name: Install your Dependencies
        run: |
           pip install -r requirements.txt
  
      - name: Build Executable with Nuitka
        uses: Nuitka/Nuitka-Action@main
        with:
           nuitka-version: main
           script-name: main.py
           onefile: false
           standalone: true
           product-name: DD2AutoSlider
           include-data-dir: templates=templates, defaults=defaults
           enable-plugins: tk-inter
    
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
           name: ${{ runner.os }} Build

           path: | # match what's created for the 3 OSes
              build/*.exe
            

          
